# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.anyconstructor.addconstructorproperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true